* {
    font-family: montserrat;
}
.section-header {
    margin-bottom: 40px;
}

.section-header h2 {
    color: #08194a;
    font-size: 45px;
    font-weight: 700;
}

.section-header h2 span {
    color: #e53f29;
}

.navbar-nav a {
    font-size: 16px;
    font-weight: 700;
}

.navbar-light .navbar-brand {
    color: #08194a;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand span {
    color: #e53f29;
}