.container {
    width: 1px;
    height: 500px;
    background-color: purple;
    clip-path: path("M1 119V2.99996H27V96.9999H91V119H1Z M160 119C134.333 88.3333 83 32 113 9C142.6 -9.4 155.667 10.6667 160 26C169.333 12 193.6 -11 216 8.99999C238.4 29 189.667 90.6667 160 119Z M285 119L245 8.99999L273 8.99999L301 97L327 8.99999L354 8.99999L313 119H285Z M397 9L496 9.00001V26H418V51H496V72H418V96.9999H496V119H397V9Z");
    transition: all 3s ease;
}

.container:hover {
    clip-path:("M1 119V2.99996H27V96.9999H91V119H1Z M160 119C134.333 88.3333 83 32 113 9C142.6 -9.4 155.667 10.6667 160 26C169.333 12 193.6 -11 216 8.99999C238.4 29 189.667 90.6667 160 119Z M285 119L245 8.99999L273 8.99999L301 97L327 8.99999L354 8.99999L313 119H285Z M397 9L496 9.00001V26H418V51H496V72H418V96.9999H496V119H397V9Z");
}

body {
    background: url(./images/BLOGGED\ DOWN.png) rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: no-repeat;
}

