body {
    background: url(./images/BLOGGED\ DOWN.png) rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: no-repeat;
    background-repeat: no-repeat;
}

@media(max-width: 911px){
    .sidebar{
        background-color: red;
        backdrop-filter: blur (10px);
    }
}